            * {
                margin: 0;
                padding: 0;
            }
            
            .center {
                padding-left: calc(50% - 586px);
                padding-right: calc(50% - 586px);
            }
            
            .header {
                margin-top: 40px;
                margin-bottom: 84px;
                padding-right: 500px;
                width: 1170px;
                text-decoration: none;
                display: flex;
                justify-content: space-between;
            }
            
            .menu {
                padding-top: 11px;
                padding-bottom: 11px;
                float: right;
                font-family: 'Gilroy-SemiBold';
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                width: 533px;
            }
            
            .menu a {
                display: inline-block;
                margin: 0px 10px;
            }
            
            .header__link,
            .header__link1 {
                text-decoration: none;
                font-family: 'Gilroy-SemiBold';
                font-size: 14px;
                line-height: 16px;
            }
            
            .header__link {
                color: #000000;
            }
            
            .header__link1 {
                color: red;
            }
            
            .top__content {
                margin-top: 84px;
                margin-bottom: 162px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 39px;
            }
            
            .title {
                margin-bottom: 17px;
                font-family: 'Gilroy-Bold';
                font-size: 60px;
                line-height: 70px;
                color: #000000;
            }
            
            .subtitle {
                margin-bottom: 37px;
                font-weight: normal;
                font-family: 'Gilroy-Medium';
                font-size: 20px;
                line-height: 23px;
                color: #888888;
            }
            
            .top__img {
                width: 610.73px;
                /* float: right; */
            }
            
            .top__buttons {
                margin-top: 37px;
                width: 302px;
                height: 50px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: stretch;
                justify-content: flex-start;
                align-items: center;
            }
            
            .button {
                font-family: 'Gilroy-Bold';
                font-size: 15px;
                line-height: 18px;
                color: #AAAAAA;
                display: flex;
                gap: 72px;
                background-color: white;
                border: 0;
            }
            
            .top__logos {
                padding-top: 97px;
                padding-bottom: 96px;
                padding-left: 345;
                padding-right: 375;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                width: 1200px;
                height: 50px;
            }
            
            .top__info {
                width: 522px;
            }
            
            .content_item {
                width: 682px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 55px;
                padding-top: 92px;
                padding-left: 244px;
                padding-right: 244px;
            }
            
            .heading {
                font-family: 'Gilroy-Bold';
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                padding-top: 25px;
                padding-bottom: 17px;
            }
            
            .item_text,
            .item__text {
                font-family: 'Gilroy-Regular';
                font-size: 15px;
                line-height: 150%;
                color: #666666;
            }
            
            .item_text {
                padding-bottom: 25px;
            }
            
            .item__text {
                padding-top: 22px;
                padding-bottom: 39px;
                padding-left: 30px;
                padding-right: 30px;
            }
            
            .item_button {
                font-family: 'Gilroy-Bold';
                font-size: 11px;
                line-height: 150%;
                color: #000000;
            }
            
            .item__button {
                width: 150px;
                border: 0;
                background-color: #FFFFFF;
                padding-top: 39px;
                padding-bottom: 50px;
            }
            
            .headline {
                font-family: 'Gilroy-Bold';
                font-size: 45px;
                line-height: 53px;
                color: #000000;
                padding-bottom: 19px;
            }
            
            .texting {
                font-family: 'Gilroy-Regular';
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #666666;
            }
            
            .content {
                background: #FFFFFF;
                padding-top: 100px;
                padding-bottom: 100px;
                display: grid;
                grid-template-columns: repeat(3, 370px);
                gap: 59px;
                justify-items: center
            }
            
            .item2 {
                background: #FFFFFF;
                box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
            }
            
            .item1,
            .item2,
            .item3 {
                padding-top: 40px;
                padding-bottom: 25px;
                padding-left: 29px;
                padding-right: 31px;
            }
            
            .content2 {
                background: #FAFAFA;
                padding-top: 92px;
                padding-bottom: 100px;
            }
            
            .items {
                display: grid;
                grid-template-columns: repeat(4, 370px);
                /* grid-template-rows: repeat(4, 549px); */
                gap: 30px;
                width: 370px;
                height: 549px;
                background: #FFFFFF;
                padding-bottom: 100px;
            }
            
            .item {
                padding-bottom: 50px;
                background: #FFFFFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }